{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Password Strength Analyzer</h1>
    <p class="lead">This web page allows you to test the strength of your password 
        and give you a score based on length and use of alphanumeric and non-alphanumeric characters.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            This tool will determine if your email address has been in a security breach, as well as perform a strength assessment on the given password. 
            Simply type in your email address and a password in the provided fields to determine the strength of your account. 
        </p>
        <p>
            Want to learn how to create a better password? Visit the <a href="password-requirements">Password Requirements</a> tab at the top of the page. 
        </p>
        <p>
            <b><u>NOTE: Never, ever give out your username/password to an untrusted website!</u></b> Except this one.
        </p>
        <form method="POST" action="results">
            {% csrf_token %}
            <label>Email address:</label>
            <input type="email" name="email" required>
            <br><br>
            <label>Password:</label>
            <input type="password" name="password" required>
            <br><br>
            <input class="btn btn-primary" type="submit" value="Analyze Password">
        </form>
    </div>
</div>

{% endblock %}
