{% extends "app/layout.html" %}

{% block content %}

<div class="col-md-12">
    <br>
    <div>
        <h1> NIST Password Recommendations for Ballad Health</h1>
    </div>
    <p>
        When choosing a password, it is important to use the newest security recommendations to 
        improve the quality and strength of your personal and professional accounts. The National
        Institute of Standards and Technology (NIST) recommend the following password requirements:
    </p>

    <ol>
        <li>Regular user accounts should be 10 characters or longer. Administrative accounts 
            should be 15 characters or longer.</li>
        <li>Inclusion of spaces increases the overall entropy of the password and is encouraged.</li>
        <li>NIST recommends the use of regular English words constructed into normal, understandable 
            passphrases, rather than a complex string of text that is un-readable and hard to understand.</li>
        <li>While NIST has removed the requirement for regular forced password resets, Ballad's Compliance 
            and Legal Department still require password resets every 180 days, and Ballad archives the last 10 
            passwords for each user.</li>
        <li>Do not use common passwords such as "password", "123456", or anything resembling them.</li>
        <li>Do not use words such as "BalladHealth", "Ballad Health", "Ballad2021", "Ballad2022", 
            "BHealth2021", "BHealth2022", (other forms where the year may be used, along with any 
            "special character(s)" at the end).</li>
    </ol>
    <br>
</div>

<form method="POST" action="/">
    {% csrf_token %}
    <input class="btn btn-primary" type="submit" value="Return to Home">
</form>

{% endblock %}
